@font-face {
  font-family: "PangeaAfrikan-Light";
  src: url("/fonts/pangea/PangeaAfrikan-Light.woff2") format("woff2"),
    url("/fonts/pangea/PangeaAfrikan-Light.woff") format("woff"),
    url("/fonts/pangea/PangeaAfrikan-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PangeaAfrikan-LightItalic";
  src: url("/fonts/pangea/PangeaAfrikan-LightItalic.woff2") format("woff2"),
    url("/fonts/pangea/PangeaAfrikan-LightItalic.woff") format("woff"),
    url("/fonts/pangea/PangeaAfrikan-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "PangeaAfrikan-Regular";
  src: url("/fonts/pangea/PangeaAfrikan-Regular.woff2") format("woff2"),
    url("/fonts/pangea/PangeaAfrikan-Regular.woff") format("woff"),
    url("/fonts/pangea/PangeaAfrikan-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PangeaAfrikan-Italic";
  src: url("/fonts/pangea/PangeaAfrikan-Italic.woff2") format("woff2"),
    url("/fonts/pangea/PangeaAfrikan-Italic.woff") format("woff"),
    url("/fonts/pangea/PangeaAfrikan-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "PangeaAfrikan-Medium";
  src: url("/fonts/pangea/PangeaAfrikan-Medium.woff2") format("woff2"),
    url("/fonts/pangea/PangeaAfrikan-Medium.woff") format("woff"),
    url("/fonts/pangea/PangeaAfrikan-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PangeaAfrikan-MediumItalic";
  src: url("/fonts/pangea/PangeaAfrikan-MediumItalic.woff2") format("woff2"),
    url("/fonts/pangea/PangeaAfrikan-MediumItalic.woff") format("woff"),
    url("/fonts/pangea/PangeaAfrikan-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "PangeaAfrikan-Bold";
  src: url("/fonts/pangea/PangeaAfrikan-Bold.woff2") format("woff2"),
    url("/fonts/pangea/PangeaAfrikan-Bold.woff") format("woff"),
    url("/fonts/pangea/PangeaAfrikan-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PangeaAfrikan-BoldItalic";
  src: url("/fonts/pangea/PangeaAfrikan-BoldItalic.woff2") format("woff2"),
    url("/fonts/pangea/PangeaAfrikan-BoldItalic.woff") format("woff"),
    url("/fonts/pangea/PangeaAfrikan-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "PangeaAfrikan-Black";
  src: url("/fonts/pangea/PangeaAfrikan-Black.woff2") format("woff2"),
    url("/fonts/pangea/PangeaAfrikan-Black.woff") format("woff"),
    url("/fonts/pangea/PangeaAfrikan-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PangeaAfrikan-BlackItalic";
  src: url("/fonts/pangea/PangeaAfrikan-BlackItalic.woff2") format("woff2"),
    url("/fonts/pangea/PangeaAfrikan-BlackItalic.woff") format("woff"),
    url("/fonts/pangea/PangeaAfrikan-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}
